node_modules/
.venv/
venv/
env/

dist/
build/
www/

coverage/
.cache/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
Desktop.ini

.vscode/settings.json
.idea/